/* General Reset */
body, h1, h2, h3, p, a, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f5f7;
  color: #333;
  margin: 0;
  /* overflow: hidden; */
}


/* Global Styles for Links */
a {
  text-decoration: none;
  color: inherit;
}


/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #7AB2D3, #B9E5E8);
  color: #fff;
  border-radius: 8px;
  margin: 20px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.right-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  margin-top: 20px;
}
.header-container { 
  margin-top: 25px;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.header-row { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}

/* Features Section */
.features {
  text-align: center;
  margin: 50px 20px;
  padding: 30px 20px;
}

.features h2 {
  font-size: 2.5rem;
  color: #49274A;
  margin-bottom: 30px;
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.feature-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #49274A;
}

.feature-item p {
  font-size: 1rem;
  color: #7AB2D3;
}

.feature-icon {
  font-size: 3rem;
  color: #7AB2D3;
  margin-bottom: 15px;
}

/* Testimonials Section */
.testimonials {
  margin: 50px 20px;
  padding: 30px;
  background-color: #DFF2EB;
  border-radius: 12px;
}

.testimonials h2 {
  font-size: 2.5rem;
  color: #49274A;
  margin-bottom: 20px;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #49274A;
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-button:hover {
  color: #49274A;
}

.testimonial-item {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.testimonial-item p {
  font-style: italic;
  font-size: 1.2rem;
  color: #49274A;
  margin-bottom: 10px;
}

.testimonial-item span {
  display: block;
  font-size: 1rem;
  color: #49274A;
  margin-top: 5px;
}

/* Footer */
.footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: #49274A;
  color: #fff;
  font-size: 0.9rem;
}

/* Slide-in Animation */
.slide-in {
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Section Container */
.section-container {
  padding: 20px;
}

.section-title {
  font-size: 1.8rem;
  color: #49274A;
  margin-bottom: 15px;
}

/* Item List */
.item-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item-list-entry {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.item-list-entry:hover {
  background-color: #DFF2EB;
}


/* Admin Page */
.admin-page {
  background-color: #f8f9fa;
}

.admin-container {
  margin: 20px auto;
  max-width: 1200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tabs */
.admin-tabs {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f1f1f1;
}

.admin-tab {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-tab.active {
  background-color: #49274A;
  color: #fff;
  border: 1px solid #49274A;
}

.admin-tab:hover {
  background-color: #dfd8de;
  color: #49274A;
}

.admin-container {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.progress-step {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-right: 10px;
}

.progress-step.active {
  background-color: #49274A;
  color: #fff;
}

.progress-step:last-child {
  margin-right: 0;
}

.step-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  color: #49274A;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-input:focus {
  border-color: #7AB2D3;
  outline: none;
}


.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #B9E5E8;
  border-radius: 8px;
  font-size: 1rem;
  color: #49274A;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #dfd8de;
  outline: none;
}

/* Form Footer */
.form-footer {
  font-size: 0.9rem;
  color: #49274A;
  margin-top: 15px;
}

.form-footer .form-link {
  color: #dfd8de;
  text-decoration: none;
  transition: color 0.3s ease;
}

.form-footer .form-link:hover {
  color: #49274A;
}

/* Form Message */
.form-message {
  margin-top: 15px;
  color: #49274A;
  font-size: 0.9rem;
}

/* Form Error Messages */
.form-error {
  color: #ff6b6b;
  font-size: 0.85rem;
  margin-top: 5px;
}

.overlay {
  position: fixed; /* Stays in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it sits above other content */
}

.popup-form {
  max-width: 700px; /* Ensure maximum width to avoid overflow */
  width: 90%; /* Adjust width for better responsiveness */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensures it sits above the overlay background */
}
.popup-form .form-row,
.popup-form .form-row-three-item { 
  display: flex; 
  justify-content: space-between; 
}

.popup-form .form-row label { 
  width: 48%; 
}

.popup-form .form-row-three-item label { 
  width: 32%; 
}

.popup-form h3 { 
  margin-bottom: 20px; 
}

.popup-form label { 
  display: block; 
  margin-bottom: 10px;
 }

 .popup-form textarea,
 .popup-form input[type="text"],
 .popup-form input[type="text"],
 .popup-form input[type="email"],
 .popup-form input[type="tel"],
 .popup-form input[type="password"],
 .popup-form input[type="date"]  { 
  width: 100%; /* Make input fields take full width */ 
  padding: 8px; 
  margin: 5px 0 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}
.popup-form select {
  width: 100%; /* Make dropdown take full width */
  padding: 10px; /* Padding for better spacing */
  margin: 5px 0 10px; /* Vertical margin for spacing */
  border: 1px solid #ccc; /* Match border color with your inputs */
  border-radius: 8px; /* Consistent border radius */
  font-size: 1rem; /* Font size */
  color: #49274A; /* Text color */
  background-color: #fff; /* White background for the dropdown */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}


.blur-background {
  filter: blur(5px); /* Blurs the background when the overlay is active */
}


/*Buttons*/
.btn {
  padding: 15px;
  background-color: #49274A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #7AB2D3;
}


.primary-btn {
  background-color: #49274A;
  color: #fff;
  border: none;
}

.button-container { 
  display: flex; 
  justify-content: space-between; 
  margin-top: 20px; }

.primary-btn:hover {
  background-color: #7AB2D3;
}

.secondary-btn {
  background-color: #fff;
  color: #49274A;
  border: 2px solid #49274A;
}

.secondary-btn:hover {
  background-color: #7AB2D3;
  color: #fff;
}

.create-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #49274A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.next-btn {
  display: inline-block;
  align-items: right;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #49274A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-btn:hover {
  background-color: #7AB2D3;
}

.close-btn {
  /* margin-top: 10px; */
  background-color: #dc3545;
}

.close-btn:hover {
  background-color: #c82333;
}

/* Table */
.tenant-table,
.client-table,
.session-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tenant-table th,
.client-table th,
.session-table th,
.tenant-table td,
.client-table td,
.session-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tenant-table th,
.client-table th,
.session-table th {
  background-color: #f2f2f2;
}

.tenant-table tr,
.client-table tr,
.session-table tr {
  cursor: pointer;
  transition: background-color 0.3s;
}

.tenant-table tr:hover,
.client-table tr:hover,
.session-table tr:hover {
  background-color: #dfd8de;
}

.tenant-table tr.selected,
.client-table tr.selected,
.session-table tr.selected {
  background-color: #b6abb5;
}

.trash-icon {
  cursor: pointer;
  transition: color 0.3s;
}

.trash-icon:hover {
  color: red;
}

/* Blur Background */
.blur-background {
  filter: blur(5px);
  pointer-events: none; /* Disable interaction with background elements */
}


/*SearchBox */
.search-input { 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  height: 40%;
  width: 300px;
  margin-bottom: 20px;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px; /* Ensure a fixed height */
  align-items: center;
  padding-left: 20px;
  background-color: #525869;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

/* Side Navigation Bar */
.side-navbar {
  background-color: #49274A;
  color: #fff;
  width: 250px;
  height: 100vh;
  transition: width 0.3s ease, padding 0.3s ease; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
}

.side-navbar.collapsed {
  width: 45px;
}

/* When the navbar is collapsed */
.side-navbar.collapsed .navbar-brand {
  display: none; /* Hide name */
  transition: padding 0.3s ease;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 7px;
}

.brand-icon {
  font-size: 2rem;
  color: #B9E5E8;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

/* User name styles */

/* Container for the toggle button and user name */
.toggle-btn-container {
  display: flex; /* Ensures children elements are aligned in a row */
  align-items: center; /* Vertically aligns the items */
  gap: 10px; /* Adds space between the toggle button and user name */
}


.user-name {
  font-size: 10pt;
  height: 1mm;
  margin-bottom: 20px;
  color: #ccc;
  transition: opacity 1s ease;
}

.user-info {
    gap: 8px; /* Adds space between the icon and the name */
    margin-left: 8px; /* Adjust spacing from the toggle button */
    margin-top: 8px;
    font-size: 1rem;
    color: #fff
}

.side-navbar.collapsed .user-name {
  font-size: 10pt;
  height: 1mm;
  margin-bottom: 20px;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.side-navbar.collapsed .navbar-logo {
  display: block; /* Show logo */
  transition: padding 0.7s ease;
}

.toggle-btn {
  display: flex; /* Ensures the toggle icon and text are in a row */
  align-items: center; /* Vertically aligns the icon and text */
  cursor: pointer;
  font-size: 1.5rem;
  color: #B9E5E8;
  margin-bottom: 20px;
  margin-left: 10px;
  transition: padding 0.7s ease;
}



.bottom-links {
  margin-top: auto;
  list-style: none;
  padding: 0;
  margin-bottom: 20px; /* Add some margin from the bottom */
}

.nav-links {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.nav-links li, 
.bottom-links li {
  margin-bottom: 15px;
}

.nav-links li,
.bottom-links li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: padding 0.3s ease;
}

.nav-links a,
.bottom-links a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* Active link styling */
.nav-links li a.active-link {
  background-color: #B9E5E8;
  color: #49274A;
  font-weight: bold;
  width: 100%;
}

.nav-links a:hover,
.bottom-links a:hover {
  background-color: #7AB2D3;
  width: 100%;
}

/* Icon Styles */
.nav-icon {
  font-size: 1.5rem;
  margin-right: 15px;
}

.side-navbar.collapsed .nav-icon {
  margin-right: 0;
  transition: padding 0.3s ease;
}

.nav-text {
  font-size: 1rem;
  white-space: nowrap;
}

/* Logout Link */
.logout {
  margin-top: 10px;
}

.logout a {
  color: #fff;
}

.logout a:hover {
  background-color: #FFB5B5;
}

/* Adjust Content When Sidebar is Collapsed */
.content-area {
  margin-left: 285px;
  transition: margin-left 0.3s ease;
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  height: 100vh;
}

.side-navbar.collapsed + .content-area {
  margin-left: 80px;
}

.action-column {
  text-align: center; 
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* Main Content Layout */
.main-content {
  display: flex;
  height: 100vh;
  transition: all 0.3s ease;
}

.main-content.collapsed .content-area {
  margin-left: 80px; /* Adjust based on collapsed sidebar width */
}



/* FullCalendar Styles */

body.no-scroll { 
  overflow: hidden; /* Disable main window scrolling */ 
  margin: 0;
}

.calendar-container {
  max-height: 100%;
  overflow-y: auto;
  overflow: hidden; /* Prevent overflow */
  position: relative;
  height: 100%; /*Set a fixed height for the calendar*/
  margin-top: 20px; /* Add spacing above the calendar */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* Background color matching other sections */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  max-width: 100%; /* Ensure calendar does not overflow */
  width: 100%; /* Ensures the calendar takes full width of its container */
}

.calendar-container .fc-timegrid-body {
  overflow-y: auto;
  max-height: 700px; /* Adjust height to allow scrolling within the time grid */
}

.fc .fc-day-today {
  background-color: rgba(255, 255, 0, 0.2); /*Your preferred highlight color*/
  position: relative; /* Ensure relative positioning */
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.fc .fc-day-today
.fc-timegrid-col-frame { 
  flex-grow: 1; /* Ensure the highlight covers the entire column */ 
}

.fc-timegrid-slots,
.fc-scrollgrid-sync-inner { 
  overflow-y: auto !important; /* Ensure the time slots are scrollable */ 
  overflow-x: hidden;
} 

.calendar-container .fc-timegrid-header {
  position: sticky;
  top: 0;
  background-color: white; /* Ensure headers are distinguishable */
  z-index: 2;
}

/* Force the calendar to fit the available height */
.fc {
  height: 100%; /* Take full height of the container */
}

.fc-daygrid-view {
  height: auto; /* Adjust the height based on the view */
}

/* Header styles within FullCalendar */
.fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.fc-toolbar button {
  background-color: #49274A; /* Matching your theme */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fc-toolbar button:hover {
  background-color: #7AB2D3; /* Hover effect */
}

/* Additional FullCalendar Styles for better visuals */
.fc-daygrid-event {
  background-color: #7AB2D3; /* Event background */
  color: white; /* Event text color */
  border-radius: 4px; /* Rounded events */
}

/* Ensure that when not in a specific month, the calendar is still properly sized */
@media (max-width: 768px) {
  .calendar-container {
    padding: 10px; /* Adjusted padding for smaller screens */
  }
}


.event-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff; /* Ensure a consistent background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-form label {
  display: block;
  margin-bottom: 10px;
}

.event-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-form button {
  margin-right: 10px; /* Add space between buttons */
}


.main-content {
  display: flex;
  transition: all 0.3s ease;
}

.main-content.collapsed .content-area {
  margin-left: 80px; /* Adjust to your sidebar's collapsed width */
}

.content-area {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.calendar-container {
  width: 100%; /* Ensure it takes the full width */
  height: calc(100vh - 100px); /* Dynamically set height if needed */
  min-height: 600px; /* Minimum height for usability */
}


/*New Session CSS*/

.create-session-page {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f5f7; /* Maintain consistency with the body */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

/* Custom style for the React Quill editor */
.react-quill {
  padding: 10px; /* Padding inside the editor */
  border: 1px solid #ccc; /* Light border for the editor */
  width: 100%;
  border-radius: 4px; /* Rounded corners */
  min-height: 200px; /*Set a minimum height*/
  max-height: 225px; /* Set a maximum height */
  font-size: 1rem; /* Consistent font size */
  overflow-y: auto; /*Enable vertical scrolling*/
}

.react-quill .ql-toolbar {
  position: sticky; /* Make the toolbar sticky */
  top: 0; /* Stick to the top of the editor */
  z-index: 1; /* Ensure it stays above other content */
  background: white; /* Set background for visibility */
  border: none; /* Optional: If you want to remove the border */
}

/* Preventing resizing and keeping consistent spacing */
.react-quill .ql-editor {
  min-height: 150px; /* Ensure editor matches minimum height */
  max-height: 200px; /* Ensure editor matches maximum height */
}

.react-quill .ql-container {
  border: none; /* Remove the default border */
}
#toolbar {
  display: flex;
  justify-content: space-between; /* Space out the items in the toolbar */
  align-items: center;
}

#toolbar button {
  margin-left: 5px; /* Spacing between toolbar buttons */
}

h3 {
  margin-bottom: 20px; /* Space below the heading */
  color: #49274A; /* Heading color matching your theme */
}

.form-group {
  display: flex; /* Use flex for a column layout */
  flex-direction: column; /* Stack form elements vertically */
  gap: 20px; /* Space between form elements */
}

.form-row {
  display: flex; /* Use flex to create a row layout */
  align-items: center; /* Center items vertically */
  gap: 40px; /* Space between inputs */
}

.new-session-label {
  display: flex;
  flex-direction: column; 
  font-size: 1rem;
  flex: 1;
}

.new-session-span {
  margin-bottom: 10px;
}

.client-label {
  flex: 0 0 30%; /* 30% width for the client input */
  position: relative; /* Position relative for dropdown */
}

input[type="text"],
input[type="date"],
select,
textarea {
  padding: 10px; /* Padding inside input fields */
  border: 1px solid #ccc; /* Light border for inputs */
  border-radius: 4px; /* Rounded corners for inputs */
  font-size: 1rem; /* Consistent font size */
}

.client-dropdown {
  position: absolute; /* Dropdown appears directly below the input */
  background-color: white; /* Dropdown background */
  border: 1px solid #ccc; /* Light border for dropdown */
  border-radius: 4px; /* Rounded corners */
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Enable scrolling for long lists */
  z-index: 1000; /* Ensure it appears above other elements */
}

.client-dropdown li {
  padding: 10px; /* Space around dropdown items */
  cursor: pointer; /* Pointer on hover */
}

.client-dropdown li:hover {
  background-color: #f1f1f1; /* Highlight on hover */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
}

.btn {
  padding: 10px 20px; /* Padding for buttons */
  border: none; /* Plain button borders */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size for buttons */
}

.close-btn {
  background-color: #ccc; /* Light background for cancel button */
  color: #fff; /* Text color */
}

.primary-btn {
  background-color: #49274A; /* Primary button color */
  color: white; /* Button text color */
}

.primary-btn:hover {
  background-color: #7AB2D3; /* Hover effect for the primary button */
}

.error-message {
  color: red; /* Error message color */
  margin-top: 10px; /* Space above the error message */
}


/* Modal Overlay */
.modal {
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Modal Content */
.modal-content {
  background-color: #fff; /* White background for the modal */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 80%; /* Width of the modal */
  max-width: 600px; /* Max width */
  padding: 20px; /* Padding inside the modal */
  position: relative; /* Position relative for absolute positioning children */
}

/* Modal Header */
.modal-header {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Center align items */
  border-bottom: 1px solid #e0e0e0; /* Bottom border */
  padding-bottom: 10px; /* Padding below header */
}

/* Modal Title */
.modal-header h2 {
  margin: 0; /* Remove default margin */
  font-size: 20px; /* Title font size */
}

/* Close Button */
.modal-header button {
  background: none; /* No background */
  border: none; /* No border */
  font-size: 16px; /* Font size for button */
  cursor: pointer; /* Pointer cursor for button */
}

/* Modal Body */
.modal-body {
  margin: 10px 0; /* Margin around body */
}

/* Modal Footer */
.modal-footer {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space between buttons */
  margin-top: 15px; /* Margin on top */
}